/* Make the background completely white and text black */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #fffef4;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  color: #989891;
}

a:hover {
  color: #333331;
}

.no-bullets {
  list-style: none;
  padding-left: 20px;
}

.background-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.background-video iframe {
  position: absolute;
  width: calc(90vh * 16 / 9);
  height: calc(100vw * 9 / 16);

  min-width: 130%;
  min-height: 130%;
}

.hero {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
}

.hero-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  padding: 10% 10%;
}

.hero-text {
  font-size: 2.5rem;
  color: #e5e2da;
}

.hero-signature {
  position: absolute;
  aspect-ratio: 16/13;
  max-width: 80vw;
  max-height: 80vh;
  pointer-events: none;
}

@media (min-width: 1600px) {
  html {
    display: flex;
    justify-content: center;
  }

  body {
    width: 1600px;
  }

  .background-video iframe {
    width: calc(90vh * 16 / 9);
    height: calc(1600px * 9 / 16);
  }

  .hero {
    width: 1600px;
  }

  .hero-signature {
    max-width: 1280px;
  }
}

.email-button {
  border: #e5e2da solid 3px;
  color: #e5e2da;
  padding: 10px 20px;

  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.email-button:hover {
  border: transparent solid 3px;
  color: #262624;
  background-color: #fffef4;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  background-color: #f8f5eb;
}

.technology {
  color: #676661;
  text-align: center;
}

.image-technology {
  width: 60px;
  height: 60px;

  margin-bottom: 5px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  position: relative;
}

.game {
  aspect-ratio: 1 / 1;
  width: 100%;

  min-width: 325px;
  min-height: 325px;

  max-width: 700px;
  max-height: 700px;
}

.game-thumbnail {
  border: #e5e2da solid 3px;
  position: relative;

  width: 100%;
  height: 100%;

  padding: 5%;
}

.game-technologies {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;

  left: 0;
  bottom: 10px;
}

.game-technology {
  background-color: #fffef4;
  border-radius: 50%;

  padding: 3px;

  z-index: 11;
}

.game-technology-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 25px;
  height: 25px;
}

.thumbnail-content {
  border: #e5e2da solid 3px;
  color: #e5e2da;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 10px;

  width: 100%;
  height: 100%;

  padding: 5%;
  opacity: 0;

  transition: 0.2s ease;
  z-index: 5;
}

.game-thumbnail:hover .thumbnail-content {
  background: rgba(0, 0, 0, 0.7);

  opacity: 1;
}

.thumbnail-content h2 {
  margin-bottom: 10px;
}

.image-thumbnail {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.2s ease;

  opacity: 1;

  z-index: 1;
}

.game-thumbnail:hover .image-thumbnail {
  opacity: 0;
}

.image-thumbnail-over {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0;
}

.game-content {
  display: flex;
  justify-content: center;

  transform-origin: top;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  width: calc(100% - 80px);
  margin: 20px 40px 0 40px;
  left: 0;
  z-index: 15;
  pointer-events: none;
  overflow: hidden;
}

.game-container {
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 30px;
  background-color: #f8f5eb;
  color: #333331;
}

@media (hover: none) {
  .game-thumbnail .thumbnail-content {
    background: rgba(0, 0, 0, 0.7);

    opacity: 1;
  }
}

@media (max-width: 775px) {
  .game {
    width: 100%;
    min-width: 0;
    min-height: 250px;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .email-button {
    font-size: 1rem;
  }

  .thumbnail-content h2 {
    font-size: 1.3rem;
  }

  .game-content {
    padding: 15px;
  }
}

@media (min-width: 775px) {

  .technologies {
    padding: 40px;
  }

  .game {
    width: calc(50% - 10px);
  }

  .games {
    padding: 40px;
  }
}

@media (min-width: 1120px) {
  .game {
    width: calc(33.333% - 13.333px);
  }
}

@media (min-width: 1465px) {
  .game {
    width: calc(25% - 15px);
  }
}

.game.open .game-content {
  transition: transform .2s ease, opacity 0.2s ease;
  height: auto;
  opacity: 1;
  pointer-events: auto;
  top: auto;
  transform: scaleY(1);
}

@media (max-width: 775px) {
  .game .game-content {
    margin: 20px 20px 0 20px;
    width: calc(100% - 40px);
  }
}

.game.open .game-thumbnail .thumbnail-content {
  background: rgba(0, 0, 0, 0.7);

  opacity: 1;
}

.game.open .game-thumbnail .image-thumbnail {
  opacity: 0;
}

.game-content-space {
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}

.game-content-header-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.game-content-header-logo img {
  width: 60%;
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
}

.game-content-header-no-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 1;
  font-size: 4rem;
  text-align: center;
}


@media (max-width: 500px) {
  .game-content-header-logo img {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .game-content-header-no-logo {
    font-size: 3rem;
  }
}

.game-content-header-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.game-content-header-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.game-link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-content-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-content-header-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.game-genre,
.game-style {
  padding: 5px 10px;
  background-color: #e5e2da;
  border-radius: 999px;
}

.game-content-header-job {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.job-icon {
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-content-header-role,
.game-content-header-team,
.game-content-header-time {
  display: flex;
  gap: 5px;
  align-items: center;
}

.game-content-main {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

h3 {
  font-size: 40px;
}

h4 {
  margin-top: 40px;
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

.image-video-container {
  display: flex;
  justify-content: center;
}

.image-video-container * {
  max-width: 1000px;
  width: 100%;
}

.image-video-container video {
  max-width: 500px;
  width: 100%;
}

code {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Fira Code', Consolas, monospace;
}

pre {
  background-color: #282a36;
  border-radius: 8px;
  padding: 20px;
  overflow-x: auto;
  max-height: 1000px;
}

code[class*="language-"] {
  color: #f8f8f2;
  margin: 0 !important;
}

.token.comment {
  color: #6272a4;
  font-style: italic;
}

.token.keyword {
  color: #ff79c6;
}

.token.string {
  color: #f1fa8c;
}

.token.function {
  color: #50fa7b;
}

.token.class-name {
  color: #8be9fd;
}

.token.number {
  color: #bd93f9;
}